* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

nav,
nav * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

nav {
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 1.25em;
}

#logo {
    width: 15%;
    height: 100%;
    background-color: green;
}

#nav-links {
    width: 50%;
    height: 100%;
    justify-content: flex-end;
}

a {
    width: 33%;
    height: 100%;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
}

header div {
    height: 50px;
    width: 100%;
}

h1 {
    font-size: large;
}

h2 {
    font-size: medium;
}

main {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}

img {
    margin: 5px;
    width: 100%;
    height: 150px;
}

.tile {
    margin: 2px;
    width: 250px;
    height: 250px;
    border: 1px solid black;
}